.text-custom,
.custom-nav .navbar-nav li a:hover,
.custom-nav .navbar-nav li a:active,
.custom-nav .navbar-nav li a.active,
.custom-nav.stickyadd .navbar-nav li a:hover,
.custom-nav.stickyadd .navbar-nav li a:active,
.custom-nav.stickyadd .navbar-nav li a.active,
.about-social li a:hover,
.footer-alt li a i:hover {
    color: #64ffda !important;
}

.btn-custom,
.form-email .form-control:focus,
.about-social li a:hover {
    border-color: #64ffda;
}

.btn-custom,
.back_top,
.services-boxes .services-title-border,
.owl-dots button.owl-dot span,
.work_menu a.active,
.work_menu a:hover {
    background-color: #64ffda;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: #d8576f;
    border-color: #d8576f;
}

input.btn.btn-custom.text-uppercase {
    color : #000;
}

input.btn.btn-custom.text-uppercase:hover {
    color : white;
}